@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;500&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display:ital,wght@1,400;1,900&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap');

* {
    font-family: 'PT Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-color: #fffaf0;
}

/* Logo */
#logo{
    width: 12%;
    padding: 0;
}

/* Banner */
#banner{
    width: 100%;
}

/*Header*/

.header{
    display: flex;
    height: 100px;
    padding: 0 10px;
    flex-direction: row;
    align-items: center; /* alinha no eixo secundário (y) */
    justify-content: space-around; /* alinha no eixo primário (x) */
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header-menu{
    display: flex;
    max-height: 100px;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    margin: 0 10px;
}

.header-menu-item{
   margin: 0 15px;
   cursor: pointer;
   color: #18A0FB;
   font-weight: 800;
   font-family: 'Montserrat', sans-serif;
}

.button-group {
    height: 100%; /*só funciona % se o elemento pai tiver altura definida*/
    min-width: 300px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.button-group .button {
    width: 130px;
    height: 50px;
    border: 1px solid #18A0FB;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-family: 'Montserrat', sans-serif;
    color: #18A0FB;
    font-weight: 400;
    cursor: pointer;
    transition: ease-in-out all .3s;
}

.button-group .button:hover {
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.4);
    transition: ease-in-out all .3s;
}

.button-group .primary {
    color: white;
    background-color: #18A0FB;
}

.banner{
    display: flex;
    position: relative;
    justify-content: center;
}
h1{
    font-size: 360%;
    font-style: bold;
    color: white;
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 8%;
}

h3{
    font-size: 200%;
    color: #cb706c;;
    display: flex;
    position: absolute;
    margin-top: 13%;
}

.button-banner{
    font-size: 100%;
    font-style: bold;
    color: #a58dec;
    display: flex;
    position: absolute;
    margin-top: 17%;
    border: none;
    padding: 1%;
    border-radius: 10px 10px 10px;
    box-shadow: 10px 10px
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.box1{
    border-radius: 10px 10px 10px;
    margin: 2%;
    padding: 2%;
    width: 50%;
    height: 570px;
    background-color: #6fb895;
    box-shadow: 15px 15px 15px #bde0cf
}

.box3{
    margin-top: 7%;
    width: 50%;
    height: 500px;
    padding: 10px;
}

#imagem2{
    width: 100%;
}

h2{
    color: #f6e896;
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.card {
    background-color: rgba(19, 19, 19, 0.3);
    padding: 40px;
    border-radius: 2px;
    width:280px;
}

.card-header {
    padding-bottom: 50px;
    opacity: 0.8;
    color: #fff;
}

.card-header::after {
    width: 70px;
    height: 1px;
    background-color: #fff;
    display: block;
    margin-top: -17px;
    margin-left: -5px;
}

.card-content label{
    color: #fff;
    font-size: 20px;
    opacity: 0.8;
}

p{
    color: #fff;
    font-size: 12px; 
}

.card-content-area {
    display: flex;
    flex-direction: column;
    padding:10px 0;
}

.card-content-area input {
    margin-top: 10px;
    padding:0 5px;
    background-color: transparent;
    border:none;
    border-bottom: 1px solid #e1e1e1;
    outline: none;
    color: #fff;
}

.card-footer {
    display: flex;
    flex-direction: column
}

.card-footer .button-form {
    font-style: bold;
    color: #6fb895;
    width: 100%;
    height: 40px;
    background-color: #f6e896;
    border:none;
    margin: 10px 0;
    margin-bottom: 50px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin: 20px 0;
}

span{
    color:#fff;
    display: flex;
}

span #resposta{
    align-items: center;
}

footer { 
    background-color: gray;
    bottom: 0px;
    width: 100%;
}
.logotipo {
   width: 100%;
   text-align: center;
   font-size: 0.7em;
}
.logotipo img {
   width: 20%;
   vertical-align: middle;
}
.redes {
   width: 100%;
   text-align: center;
}
.redes img {
   width: 8%;
}
.redes ul li {
   text-transform: uppercase;
   list-style-type: none;
   display: inline;
}
@media only screen and (min-width: 450px)
and (max-width: 769px){
   footer {
       clear: both;
       width: 100%;
    }
    .logotipo {
        width: 50%;
        float: left;
        text-align: left;
    }
    .redes {
        width: 50%;
        float: right;
    }
}
@media only screen and (min-width: 769px) {
   footer {
       width: 100%;
       clear: both;
       margin-bottom: 3%;
   }
   .logotipo {
       font-size: 1em;
       width: 45%;
       float: left;
       text-align: center;
    }
    .logotipo img, .redes img {
        width: 10%;
    }
    .redes {
        width: 45%;
        float: right;
        margin-right: 1%;
        text-align: center;
    }
}

.maior1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.maior2{
    display: inline-flex;
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    position: relative;
    padding: 10px;
}

.box_1{
    border-radius: 10px 10px 10px;
    box-shadow: 0 0 10px rgb(192, 222, 234);
    width: 20%;
    height: 60%;
    padding: 20px;
    margin: 13px;
    background-color: #d9f1f1;
}

.imagem-card1{
    position: absolute;
    width: 20%;
    z-index: 1;
    top:-12%;
    right: 69%;
}


.box_2{
    border-radius: 10px 10px 10px;
    box-shadow: 0 0 10px rgb(234, 192, 192);
    height: 60%;
    width: 20%;
    padding: 20px;
    margin: 13px;
    background-color: #fadee1;
}

.imagem-card2{
    position: absolute;
    width: 20%;
    z-index: 1;
    top:-12%;
    right: 44%;
}

.box_3{
    border-radius: 10px 10px 10px;
    box-shadow: 0 0 10px rgb(215, 234, 192);
    width: 20%;
    height: 60%;
    padding: 20px;
    margin: 13px;
    background-color: #c6e5b1;
}

.imagem-card3{
    position: absolute;
    width: 15%;
    z-index: 1;
    top: 4%;
    right: 25%;
}


.box_4{
    border-radius: 10px 10px 10px;
    box-shadow: 0 0 10px rgb(234, 192, 192);
    width: 20%;
    height: 60%;
    padding: 20px;
    margin: 13px;
    background-color: #faf1d6;
}

.imagem-card4{
    position: absolute;
    width: 20%;
    z-index: 1;
    top: -6%;
    right: 2%;
}

.box_5{
    border-radius: 10px 10px 10px;
    box-shadow: 0 0 10px rgb(234, 192, 192);
    width: 20%;
    height: 60%;
    padding: 20px;
    margin: 13px;
    background-color: #b9c0ea;
}

.imagem-card5{
    position: absolute;
    width: 20%;
    z-index: 1;
    top: 57%;
    right: 48%;
}

.box_6{
    border-radius: 10px 10px 10px;
    box-shadow: 0 0 10px rgb(234, 192, 192);
    width: 20%;
    height: 60%;
    padding: 20px;
    margin: 13px;
    background-color: #e1f7e7;
}

.imagem-card6{
    position: absolute;
    width: 17%;
    z-index: 1;
    top: 62%;
    right: 26%;
}


.titulo-card{
    color: black;
    line-height: 35px;
}

.cor-preta{
    color: black;
    font-size: 20px;
}